language: node_js
sudo: required

addons:
  apt:
    packages:
      - curl
      - nodejs
      - build-essential
      - libssl-dev

install:
  - sudo curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
  - sudo apt install -y nodejs
  - sudo npm install gitbook-cli -g

script:
  - sudo git clone https://github.com/Velaa98/IntegracionContinua.git
  - sudo gitbook build ./IntegracionContinua

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  on:
    branch: master
