language: node_js
sudo: required

install:
  - sudo apt install npm
  - sudo npm install gitbook-cli -g

script:
  - sudo git clone https://github.com/Velaa98/IntegracionContinua.git
  - sudo gitbook build ./IntegracionContinua

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  on:
    branch: master
